<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Pelaajalista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

 <h1 th:inline="text">Moi [[${#httpServletRequest.remoteUser}]]!</h1><br>
 <div class="bg"></div>
 
	<h1>Roster</h1>
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>Birthyear</th>
		    <th>Palkka</th>
		    <th>Rooli</th>
		   
		</tr>  
    	<tr th:each = "pelaaja : ${pelaajat}">
    		<td th:text="${pelaaja.name}"></td> 
    		<td th:text="${pelaaja.birthyear}"></td>
    		<td th:text="${pelaaja.palkka}"></td>  		
    		<td th:text="${pelaaja.rooli.name}"></td> 
    		
    		
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${pelaaja.id})}"class="btn btn-danger">Poista</a></td>
    		<td><a th:href="@{/modify/{id}(id=${pelaaja.id})}"  class="btn btn-warning">Modify</a></td>    
    	</tr>
    	
    	
     </table> 	
    
     <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
            </form>
            <br>
     <a href="/lisaapelaaja" class="btn btn-success">Lisää Pelaaja</a>
</body>
</html>